.profile__edit {
  background-image: url(../../../images/profile__edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin: 6px 0 0 0;
  padding: 7px;
  cursor: pointer;
}
